<?xml version="1.0" encoding="UTF-8"?>
<phpunit  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
          backupGlobals="false"
          verbose="true"
          colors="true">

    <testsuites>
        <testsuite name="AppTestUnitSuite">
            <directory>./tests/Unit/app/</directory>
        </testsuite>
        <testsuite name="CoreTestUnitSuite">
            <directory>./tests/Unit/src/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./tests</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-text" target="build/testdox/executed.txt"/>
        <log type="coverage-php" target="build/coverage-php.php" />
    </logging>

</phpunit>
